* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background);
}

:root {
  --primary-background: #dde0bd;
  --primary-black: #3a3a39;
  --primary-white: #f0f4f3;
  --accent-neutral: #c2d1cf;
  --accent-blue: #2f5479;
}

/*------ Container Layout ------*/

#game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  padding: 0 75px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 72px;
}

.controls-container {
  background-color: aliceblue;
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: pink;
}

.displays-container {
  border: 2px solid purple;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 72px;
}

.message-container {
  border: 2px solid green;
  background-color: var(--primary-black);
  color: var(--accent-neutral);
}

.scoreboard-container {
  border: 2px solid green;
  background-color: var(--accent-blue);
  color: var(--primary-white);
}

.hidden {
  display: none;
}

#message-text {
  white-space: pre-line;
}

/*------ Intro ----- */
.intro-container {
  text-align: center;
  padding: 20px 0;
  background-color: var(--accent-neutral);
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

/*------ Choice Buttons ------*/
.choice-btn {
  background-color: var(--accent-neutral);
  color: var(--primary-black);
  border: 3px dashed var(--primary-black);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 25%;
  transition: background-color 0.3s ease;
}

.choice-btn:hover {
  background-color: #879fac;
  color: var(--primary-white);
}

.choice-btn.selected {
  background-color: var(--accent-blue);
  color: var(--primary-white);
  border: 3px solid var(--primary-black);
}

/*------ Control Buttons ------*/

#end {
  background-color: #9a2a26;
  color: #eebbba;
}
