@font-face {
  font-family: "Pixeboy";
  src: url("./fonts/pixeboy.ttf") format("truetype");
}

@font-face {
  font-family: "Cairopixel";
  src: url("./fonts/cairopixel.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background);
  font-family: var(--primary-font);
}

#message-text {
  white-space: pre-line;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

:root {
  --primary-background: #dde0bd;
  --primary-black: #3a3a39;
  --primary-white: #f0f4f3;
  --accent-neutral: #c2d1cf;
  --accent-blue: #2f5479;
  --primary-font: "Pixeboy", sans-serif;
  --accent-font: "Cairopixel", sans-serif;
}

/*------ Containers ------*/
.intro-container {
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
}

#game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  padding: 0 75px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 72px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 30px;
}

.displays-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 72px;
}

.message-container {
  border-radius: 10px;
  border: 2px solid #bdbdbd;
  background-color: var(--primary-black);
  color: var(--accent-neutral);
  padding: 20px;
  font-family: var(--accent-font);
  font-size: 2.1rem;
}

#round-number {
  padding: 0 0 10px 0;
}

.scoreboard-container {
  border: 4px solid #72706f;
  background-color: var(--accent-blue);
  border-radius: 10px;
  color: var(--primary-white);
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  padding: 20px;
  align-content: center;
  align-self: start;
}

/*------ Scoreboard Items ------*/
.sbCard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sbLabel {
  margin-right: auto;
}
.sbValue {
  min-width: 3ch;
  text-align: right;
}

/*------ Choice Buttons ------*/
.choice-btn {
  background-color: var(--accent-neutral);
  color: var(--primary-black);
  border: 3px dashed var(--primary-black);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: var(--primary-font);
  height: 25%;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.choice-btn img {
  width: 25px;
  height: 25px;
}

.choice-btn:hover {
  background-color: #879fac;
  color: var(--primary-white);
}

.choice-btn.selected {
  background-color: var(--accent-blue);
  color: var(--primary-white);
  border: 3px solid var(--primary-black);
}

.choice-btn.locked {
  background-color: #72706f;
  color: var(--primary-black);
  border: 3px solid var(--primary-black);
  cursor: default;
}

/*------ Control Buttons ------*/

#end {
  background-color: #9a2a26;
  color: #eebbba;
  align-self: center;
  width: 50%;
  min-height: 125px;
  border-radius: 10px;
  border: 3px solid #9a2a26;
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--primary-font);
  transition: background-color 0.3s ease;
}

#end:hover {
  background-color: #721f1d;
  border: 3px solid #721f1d;
}

#submit {
  background-color: #abd4bf;
  color: #234333;
  width: 25%;
  height: 20%;
  border-radius: 10px;
  border: 4px solid #5aaa82;
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--primary-font);
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #89c2a6;
}

#reset {
  background-color: #d2ccc6;
  color: #474039;
  width: 25%;
  height: 20%;
  border-radius: 10px;
  border: 4px solid #998c80;
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--primary-font);
  transition: background-color 0.3s ease;
}
#reset:hover {
  background-color: #bbb3aa;
}

/*------ Footer ------*/
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--primary-black);
}

/*------ Utility Classes ------*/
/* Hidden must go at the end of the stylesheet to prevent specificity issues with other classes */

.hidden {
  display: none;
}
